@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #F2EFE6;
  --foreground: #000000;
  --terracotta: #C38133;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  overflow: hidden;
  position: relative;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

.prose {
  color: #000;
}

.prose h1,
.prose h2,
.prose strong {
  color: #000;
}